# Ignore Emacs and Vim backup files
*~
\#*
*.swp

# Ignore LaTeX work files
*.aux
*.log

# Ignore MacOS directory display format files 
.DS_Store

# Ignore subdirectories not to be archived on GitHub
/111
/2014
/Grades/
/Homework/
/Images/
/Notes/
/OrganizationAndSyllabus/
/Projects/
